input.mini_button { /* < > ▼ などのボタン */
    width: 23px;
    height: 21px;
    line-height: 21px;
    padding: 0px;
    text-align: center;
}

.contextMenu A {
    color: #333;
    text-decoration: none;
    display: block;
    line-height: 20px;
    height: 20px;
    background-position: 6px center;
    background-repeat: no-repeat;
    outline: none;
    padding: 1px 5px;
    padding-left: 28px;
}
